<html>
	<head>
		<h1 align="center" class="heading">A GREAT HEADING</h1>
		<style type="text/css">
			.textbox_big
			{
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;	
				border-width: 1px;				
				text-decoration: none;	
				color:#181818;
				font-size:25px;
				font-weight:bold;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-weight: 500;			
			}
		</style>		
	</head>
	<body>
		<div align="center" class="login_box">
		<form action="/dash" method="get" id="start_form">
			<input style="width:23%;
	height:12%;" class="textbox_big" type="text" name="uname" id="uname" 
			placeholder=" enter your username here"/><br/><br/>			
			<input class="submitbutton" type="submit" value="submit" id="submitname" />
		</form>
	</div>
	</body>
</html>